<!DOCTYPE html>
<html lang="en">
<head>
    <title>TopShop</title>
  	<link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="style.css">
  
    {{ content_for_header }}
</head>
<body>
  
  	{% section 'header' %}
  
  	<main class="main" id="main">
    	{{ content_for_layout }}
    <main>
  
  	{% section 'footer' %}
</body>
</html>