<footer class="footer" aria-level="Site">

        <div class="footer__container">
            <section aria-labelledby="adress-heading">
                <h2 id="adress-heading" class="visually-hidden">Address</h2>
                <address class="footer__adress">
                    <p class="footer__menu-title">ABOUT</p>
                    <p class="footer__menu-adress">Susparsa Store Geneva, Switzerland</p>
                    <div class="footer__social-container">
                        <a href="javascript:void(0)" class="footer__social-item" title="facebook">
                            <img src="source/img/icon/facebook.svg" alt="" class="footer__social-image" role="presentation">
                        </a>
                        <a href="javascript:void(0)" class="footer__social-item" title="instagram">
                            <img src="source/img/icon/instagram.svg" alt="" class="footer__social-image" role="presentation">
                        </a>
                    </div>
                </address>
            </section>
            
    
            <nav class="footer__menu" aria-label="Footer">
                <ul class="footer__menu-list" role="list">
                    <li class="footer__menu-item">
                        <span class="footer__menu-title">Company</span>

                        <ul class="footer-menu__list" role="list">
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Women</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Men</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Kids</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">About Us</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Our Materials</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__menu-item">
                        <span class="footer__menu-title">Useful Links</span>

                        <ul class="footer-menu__list" role="list">
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Privacy Policy</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Shipping Policy</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Return & Refund</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Policy Terms of Service</a></li>
                            <li class="footer-menu__item">
                                <a href="javascript:void(0)" class="footer__menu-link">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
     
        <span class="footer__copywriter"><small>© Susparsa 2021</small></span>
    </footer>