<header class="header">
        <a href="#main" class="skip-to-conten">Skip to content</a>
        <nav class="header__main-menu" aria-labelledby="Main">
            <ul class="main-menu__list" role="list">
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Women</a>
                </li>
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Men</a>
                </li>
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Kids</a>
                </li>
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Company</a>
                </li>
            </ul>

            <div class="header__logo-container">
                <a href="https://aliexpress.ru/item/1005001902747335.html?_ga=2.206999440.24027282.1649498975-1115561752.1646597912&gps-id=5589723&pdp_ext_f=%7B%22sku_id%22%3A%2212000028071586481%22%2C%22ship_from%22%3A%22CN%22%7D&pvid=9b2ad826-ac9d-4cb4-9be3-2313bbffd86a&scm=1007.23880.125255.0&scm-url=1007.23880.125255.0&scm_id=1007.23880.125255.0&sku_id=12000028071586496&spm=a2g01.12602323.fdpcl001.1.734c753fwAUzvH" aria-label="home page"><img src="source/img/logo.svg" alt="" role="presentation"></a>
            </div>

            <ul class="main-menu__list main-menu__list--user" role="list">
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Account</a>
                </li>
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Search</a>
                </li>
                <li class="main-menu__item">
                    <a href="javascript:void(0)" class="main-menu__link">Cart (0)</a>
                </li>
            </ul>

            <button class="header__button">
                <span class="header__button-burder"></span>
                <span class="visually-hidden">Show user menu</span>'
                
                <nav class="header__user-menu--mobile">
                    <ul class="mobile-user-menu__list" role="list">
                        <li class="main-menu__item">
                            <a href="javascript:void(0)" class="main-menu__link">Account</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="javascript:void(0)" class="main-menu__link">Search</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="javascript:void(0)" class="main-menu__link">Cart (0)</a>
                        </li>
                    </ul> 
                </nav>
            </button>
        </nav>

        <nav class="breadcrumbs" aria-labelledby="Breadcrumbs">
            <ol class="breadcrumbs__list" role="list">
                <li class="breadcrumbs__item">
                    <a href="javascript:void(0)" class="breadcrumbs__link">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="javascript:void(0)" class="breadcrumbs__link">Women</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="javascript:void(0)" class="breadcrumbs__link">White unisex t-shirt</a>
                </li>
            </ol>
        </nav>
        
    </header>