<section class="other-product" aria-labelledby="also-product">
            <div class="other-product__header-container">
                <h2 class="other-product__header" id="also-product">You may also like</h2>
            </div>
            <div class="other-product__container">
                <ul class="other-product__list" role="list">
                    <li class="other-product__item">
                        <div class="other-product-card__media">
                            <img src="source/img/products/other-product-1.jpg" alt="" class="other-product-card__image" role="presentation">
                        </div>
                        <div class="other-product-card__info">
                            <h3 class="text--body text--center">
                                <a class="other-product-card__title-link" href="javascript:void(0)">Product name</a>
                            </h3>
    
                            <div class="other-product-card__color-container">
                                <ul class="other-product-card__color-list">
                                    <li class="other-product-card__color-item other-product-card__color-item--dark-yellow"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--apricot"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--pinc"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--purple"></li>
                                </ul>
                            </div>
                            <p class="text--center mt-8">CHF 40</p>
                        </div>          
                    </li>

                    <li class="other-product__item">
                        <div class="other-product-card__media">
                            <img src="source/img/products/other-product-2.jpg" alt="" class="other-product-card__image" role="presentation">
                        </div>
                        <div class="other-product-card__info">
                            <h3 class="text--body text--center">
                                <a class="other-product-card__title-link" href="javascript:void(0)">Product name</a>
                            </h3>
    
                            <div class="other-product-card__color-container">
                                <ul class="other-product-card__color-list">
                                    <li class="other-product-card__color-item other-product-card__color-item--dark-yellow"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--apricot"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--pinc"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--purple"></li>
                                </ul>
                            </div>
                            <p class="text--center mt-8">CHF 40</p>
                        </div>          
                    </li>

                    <li class="other-product__item">
                        <div class="other-product-card__media">
                            <img src="source/img/products/other-product-3.jpg" alt="" class="other-product-card__image" role="presentation">
                        </div>
                        <div class="other-product-card__info">
                            <h3 class="text--body text--center">
                                <a class="other-product-card__title-link" href="javascript:void(0)">Product name</a>
                            </h3>
    
                            <div class="other-product-card__color-container">
                                <ul class="other-product-card__color-list">
                                    <li class="other-product-card__color-item other-product-card__color-item--dark-yellow"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--apricot"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--pinc"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--purple"></li>
                                </ul>
                            </div>
                            <p class="text--center mt-8">CHF 40</p>
                        </div>          
                    </li>

                    <li class="other-product__item">
                        <div class="other-product-card__media">
                            <img src="source/img/products/other-product-4.jpg" alt="" class="other-product-card__image" role="presentation">
                        </div>
                        <div class="other-product-card__info">
                            <h3 class="text--body text--center">
                                <a class="other-product-card__title-link" href="javascript:void(0)">Product name</a>
                            </h3>
    
                            <div class="other-product-card__color-container">
                                <ul class="other-product-card__color-list">
                                    <li class="other-product-card__color-item other-product-card__color-item--dark-yellow"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--apricot"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--pinc"></li>
                                    <li class="other-product-card__color-item other-product-card__color-item--purple"></li>
                                </ul>
                            </div>
                            <p class="text--center mt-8">CHF 40</p>
                        </div>          
                    </li>
                </ul>
            </div>
        </section>